[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "==2.3.2"
flask = "==1.0.2"
"psycopg2" = "==2.7.4"
flask-testing = "==0.6.2"
gunicorn = "==19.8.1"
flask-debugtoolbar = "==0.10.1"
flask-cors = "==3.0.6"

[dev-packages]
python-dotenv = "*"
coverage = "==4.5.1"
"flake8" = "==3.5.0"

[requires]
python_version = "3.6"
